@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

:root {
	--main-font-color: white;
}

#inicio {
	color: var(--main-font-color);
}

#contenido {
	width: 95%;
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

.menu_principal a {
	color: white;
}

body {
	background-color: #02010a;
	font-family: Dancing Script;
}

#top {
	display: flex;
	flex-direction: column;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#cabecera {
	text-align: left;
	color: white;
	text-shadow: 0 0 2px #02010a;
	box-sizing: border-box;
}

.menu_principal {
	text-align: right;
	color: white;
}

.inicio {
	text-decoration: none;
}

#contenedor_princ {	
	display: flex;
	justify-content: center;
	background-color: #82c3a6;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
}

.foto_principal {
	width: 80%;
	margin: 10px;
	box-shadow: 2px 20px 30px #02010a9e;
	transition: 1s ease-in-out;
}

.foto_principal:hover {
	box-shadow: 1px 5px 20px rgb(109, 156, 0);
	transition: 1s ease-in-out;
}

#contenedor_secund {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: #d5c75f;
	width: 100%;
	border: 1px;
	justify-content: space-evenly;
	padding: 20px 0;
	box-sizing: border-box;
}

.fotos_secund, .fotos_terc {
	margin: auto;
	width: 40%;
	box-shadow: 2px 20px 30px #02010a9e;
}

#cont_fot_enlac1, #cont_fot_enlac2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.enlace {
	color: white;
	margin: 10px 0px;
}

#volver {
	text-align: center;
}

#volver a {
	color: white;
}

#pie_pag {
	margin: 0 auto;
	display: flex;
	background-color: #c6d5c5;
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	justify-content: space-evenly;
	padding: 20px 0;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.contacto {
	color: black;
	text-align: center;
	width: 10%;
	margin: 0 auto;
}

.terminos {
	text-align: center;
	width: 10%;
	margin: 0 auto;
}

.redes {
	color: black;
	text-align: center;
	width: 10%;
	margin: 0 auto;
}

.redes a {
	color: black;
}

.derechos {
	text-align: center;
	width: 10%;
	margin: 0 auto;
}

@media screen and (max-width: 900px) {
	#cabecera {
		width: 100%;
	}
	#contenedor_princ {
		width: 100%;
	}
	#cont_fot_enlac1, #cont_fot_enlac2 {
		width: 80%;
		margin: 0 auto;
	}
	.fotos_secund { 
		width: 100%;
		margin: 20px 0 0;
	}
	.fotos_terc { 
		width: 100%; 
		margin: 20px 0 0;
	}
	.contacto {
		width: 100%;
	}
	.terminos {
		width: 100%;
	}
	.redes {
		width: 100%;
	}
	.derechos {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	#contenido { 
		width: 100%;
	}
	#contenedor_secund {
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 20px 0;
	}
}